#freezer {
    width: 6ch;
    text-align: center;
}

svg,
canvas {
    display: inline-block;
    max-width: 48%;
    height: auto;
    box-shadow: 0 0 0 1px silver;
}

label {
    white-space: nowrap;
}